html, body {
    height: 100%;
}
body {
  background: url("/assets/img/backdrop.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.padding-top-5{
    padding-top: 5px;
}
.padding-top-10{
    padding-top: 10px;
}
.no-padding{
    padding: 0px !important;
}